<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <script src="https://kit.fontawesome.com/8f69815892.js" crossorigin="anonymous"></script>
    <title>::: Layout :::</title>
</head>
<body>
    <main>
        <header>
            <p class="p1">Zafary</p>
        </header>
        <section class="styleR5">
           <section class="styleR6 formulario-login">
               <article id="casa" class="indexpg">
                <i class="fas fa-home"></i>
                <p  class="p2">Home</p>
                    
               </article>
               <article id="whatzapp" class="indexpg">
                <i class="fab fa-whatsapp"></i>
                    <p class="p2">WhatzApp</p>
               </article>
               <article id="zpotify" class="indexpg">
                <i class="fab fa-spotify"></i>
                    <p class="p2">Zpotify</p>
               </article>
           </section>
           <section class="styleR7">
            <iframe id="contdinamic" src=""  frameborder ="0"></iframe>
            
           </section>
        </section>
            


        </section>
    </main>
    <script src="./index.js"></script>
</body>
</html>