* {
    box-sizing: border-box;
  }
  main{
      display: block;
  }

  body{
    margin: auto;
    box-sizing: border-box;
    display: grid;
    width: 1349px;

  }

.p1 {
    box-sizing: border-box;
    text-align: center;
    font-family: Arial;
    font-size: 40px;
    line-height: 56px;
    margin-top: 25px;
    padding-left: 450px;
    padding-right: 450px;
    color: #000000;

}


.imagen{
    padding-left: 20%;
}


